.skillset {
    background: rgba(black, 0.35);
    margin: 0 auto;
    display: inline-block;
    columns: 2;
    list-style: none;

    @include respond(tabPort) {
        padding: 0.5rem 2rem;
    }

    &--item {
        padding-left: 4rem;
        text-align: start;
        break-inside: avoid;
        white-space: nowrap;
        font-size: 2.5rem;
        animation-name: slideIn;

        &:not(:last-child) {
            padding-right: 2rem;
        }

        &::before {
            content: '';
            height: 2.5rem;
            width: 2.5rem;
            padding-top: 0.5 rem;
            margin-right: 0.6rem;
            display: inline-block;
            background: $color-gradient;
            mask-size: cover;
        }
    }
}
