.review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    z-index: -10;
}

.review {
    overflow: hidden;
    z-index: 10;
    position: relative;
    background-color: white;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 3rem;
    }
    
    &__text {
        margin-bottom: 1rem;
    }

    &__user {
        display: flex;
        align-items: center;
    }
    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }    
    
    &__user-box {
        margin-right: auto;
    } 

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }
    &__user-date {
        font-weight: 300;
        color: var(--color-grey-dark-3)
    }    

    
    &__rating {
        font-size: 2.2rem;
        font-weight: 300;
        color: var(--color-primary);
    }
}